header{
    background-image: url("./Images/background.png");
    /* Set rules to fill background */
    background-size: 100% auto;

  }
  
  /*Style title and buttons position*/
  body h1 {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
    color:rgb(255, 255, 255);
    font-size: 400%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  body h2{
    color: black;
    margin: 10px;
    text-align: center;
  }

  body h3{
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  nav ul{
    margin-top: 20px;
    padding: 10;
    list-style-type: none;
    color: #0fc1d8;
  }

  #cureJM{
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px 0px;
    margin: 0px;
    color: black;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    border-radius: none; 
    border: none; 
    padding: none;
  }

  #img1, #img2 {
    padding-left: 0;
    padding-right: 0;
  }

  #home:hover, #project:hover, #resume:hover, #videos:hover, #about:hover {
    color:black
  }
  #home, #project, #resume, #videos, #about {
    background-color: #7eb6ff;
    border-radius: 12px;
    padding: 8px 10px;
    margin: 10px;
    color: white;
    font-size: 175%;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    border-radius: 12px; 
    border: 2px solid black; 
    padding: 8px;
  }

  #busyQuizzy, #gitHub, #codersPlatform {
    font-size: 125%;
    border-radius: 12px; 
    border: 2px solid black; 
    padding: 8px;
    background-color: #0128a5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  #busyQuizzy:hover, #gitHub:hover, #codersPlatform:hover{
    color:black;
  }
  
  nav.navigationHome ul{           /*home,resume,projects links*/
    background-color: #0128a5;
    align-items: center;
    text-align: center;
    right:1%;
    border-radius: 35px;
    margin-top: 1%;
    position: absolute;
    border-radius: 12px; 
    border: 3px solid black; 
    padding: 0px;
  }

  nav.navigationProjects ul{           /*my projects tab*/
    background-color: #7eb6ff;
    align-items: center;
    text-align: center;
    margin-left: 41%;
    margin-right: 41%;
    border-radius: 12px; 
    border: 3px solid black; 
    padding: 0px;
  }

  #video1, #video2, #video3{
    border-radius: 12px; 
    border: 3px solid white; 
  }

  nav ul li{
    display: inline-table;
  }

  desc{
    display: block;
    background-color: #7eb6ff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 15px;
    border-radius:80px;
  }

  /*Style navigation text*/
  a:hover {
    color: rgb(0, 0, 0)
 }

 /*Style buttons*/
  .button{
    background-color: #7bc514; 
    border-radius: 12px;
    color: white;
    padding: 8px 16px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  p{
    text-align: center;
    padding: 10px;
  }

  .body{
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  .siteFooter{
    bottom:0%;
    position: fixed;
    width: 100%;
    font-size:medium;
    text-align: center;
    background: grey;
    color: white;
  }

html{
    background-image: url("./Images/background1.png");
    background-size: 100%;
}