html{
  background-size: 100%; 
  background-image: linear-gradient(#f5f7fa,#b8c6db);
}

/* This is actually for site footer */
header{
    background-color: #b8c6db;
    background-size: 100% auto;
    border-radius: 150px; 
    border: 10px solid lightgray; 
  }

  body h1 {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
    color:black;
    font-size: 400%;
    
  }

  body h2{
    color: black;
    margin: 10px;
    text-align: center;
    
  }

  body h3{
    color: black;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  body h4{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 250%;
  }
  .shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }

  nav ul li{
    display: inline-table;
  }


  p{
    text-align: center;
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid black; 
    padding: 15px;
    font-size: 125%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300;
    
    background-color: #f5f7fa;
    /* background-image: linear-gradient(#b8c6db, #f5f7fa); */
    
  }

  .body{
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  .siteFooter{
    position: absolute;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
  }

/* about me tab and my projects tab */
desc{
  display: block;
  background-color: #b8c6db;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius:20px;
  border: 1px solid black; 
}


/* ------------------------------------------STYLE IDS----------------------------------------------- */

#emailForm {
  background-image: linear-gradient(#b8c6db,#f5f7fa);
  background-size: 100% auto;
  border-radius: 75px; 
  border: 1px solid black; 
  margin-left: 25%;
  margin-right: 25%;
}

  #cureJM{
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px 0px;
    margin: 0px;
    color: black;
    font-size: 100%;
    font-weight: normal;
    border-radius: none; 
    border: none; 
    padding: none;
  }

  #home1, #home2, #home3, #home4, #home5 {
    background-color: white;
    color: black;
    font-size: 300%;
    width: 300%;
    font-weight: bold;
    border-radius: 12px; 
    border: 2px solid black; 
    -ms-transform: skewX(-17deg);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);  
  }

  #img1, #img2 {
    padding: 15px;
    background-image: linear-gradient(#f5f7fa,lightgray,#b8c6db);

  }

   #sendButton:hover, #home:hover, #project:hover, #resume:hover, #videos:hover, #about:hover {
    color:lightgray
  }
  #home, #project, #resume, #videos, #about {
    background-color: white;
    color: black;
    font-size: 225%;
    font-weight: bold;
    border-radius: 12px; 
    border: 2px solid black; 
    padding: 15px;
    margin-right: 10px;
    text-align: center;
    -ms-transform: skewX(-17deg);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);  
    display: inline-block;
  }

  #busy {
    float:left;
    width: 47%;
    margin-left: 1%;
  }

  #coders{
    float:right;
    width: 47%;
    margin-right: 2%;
  }
  #busyQuizzy, #gitHub, #codersPlatform {
    font-size: 300%;
    border-radius: 12px; 
    border: 2px solid black; 
    padding: 8px;
    font-weight: bold;
    background-color: white;
    color: black;
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);  
    display: inline-block;
  }
  #busyQuizzy:hover, #gitHub:hover, #codersPlatform:hover{
    color:#7eb6ff;
  }
  
  #project1, #project2 {
    width: 400px;
    margin:auto;
    margin-bottom: 10%;
    margin-top: 5%;
    text-align: center;
  }

  #video1, #video2, #video3{
    border-radius: 12px; 
    padding: 5%;
    background-image: linear-gradient(#f5f7fa,lightgray,#b8c6db);
    border: 3px solid lightgray;
  }

  p.inputMessage{
    border-radius: 15px;
    border: 3px solid black;
    padding: 5%;
    margin: auto;
    width: 70%;
    height: 250px;
    text-align: left;
    color: black;
    background-color:#7eb6ff;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
        
  }
  p.inputName{
    border-radius: 15px;
    border: 3px solid black;
    padding: 5%;
    margin: auto;
    width: 70%;
    height: 100px;
    text-align: left;
    color: black;
    background-color:#7eb6ff;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

  }

  #nText, #mText{
    font-size: larger;
  }

  #message{
    width: 100%;
    height: 75%;
    border-radius: 5px;
    border: 2px solid black; 
  }
  #name{
    width: 100%;
    height: 45%;
    border-radius: 5px;
    border: 2px solid black; 
  }

 .fancy {
  padding : 1em;
  width: 100%;
  height: 200px;
  box-sizing: border-box;

}

.sendButton {
  transition: all .5s ease;
  color: #f5f7fa;
  border: 3px solid lightgray;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 40px;
  background-color: #b8c6db;
  padding:15px;
  padding-left: 125px;
  padding-right: 125px;
  outline: none;
  border-radius: 30px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
.sendButton:hover {
  color: #b8c6db;
  background-color: #f5f7fa;
  
}



/* ---------------------------------------STYLE CAROUSEL-------------------------------------------- */

.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 75s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
  border: 1px solid black; 
  -webkit-box-shadow: 0 20px 12px -12px black;
	   -moz-box-shadow: 0 20px 12px -12px black;
	        box-shadow: 0 20px 12px -12px black;
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("./Images/busyquizzy.png");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) {
  background-image: url(" ./Images/resum.png");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("./Images/codersplatform.png");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("./Images/livyliam.JPG");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("./Images/headshot.jpeg");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("./Images/wyattmaddie.jpeg");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("./Images/liam2.JPG");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("./Images/laxback.jpg");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("./Images/liam1.png");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-image: linear-gradient(#f5f7fa, #b8c6db);
  position:relative;
  border-radius: 12px; 
  padding: 3%;
  border: 1px solid black;
  text-shadow: 0 .5px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  width: auto;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 70px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-image: black;
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  right: 0;
  top: 0;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  /* background: lightgray; */
  color: lightgray;
  width: auto;
  right: 0;
  padding-left: 3%;
  
}
.topnav .fa:hover {
  /* background: lightgray; */
  color: lightgray;
  width: auto;
  right: 0;
  padding-left: 5%;
  
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: white;
}


/* underline effect */

.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	transform: translate3d(0, 0, 0);
	transition-timing-function: ease-out;
	transition-duration: .2s, .15s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	transform: translate3d(0%, 100%, 0);
}


/*
=====
SETTINGS
=====
*/

.ai-element{
	--aiElementLineWeight: 10px;
	--aiElementLineColor: lightgray;
	--aiElementColor: white;
	--aiElementColorHover: lightgray;
  border-radius: 25px;

  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

.ai-element_type1,
.ai-element_type3{
	--aiElementPadding: 10px 15px;
}

.ai-element_type3{
	--aiElementColor: #fff;
}


