/* ************************************************************************* */
/* ************************************************************************* */
/*                               COMMON TAGS                                           */
/* ************************************************************************* */
/* ************************************************************************* */
html{
  background-color: #CCCCB2;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;

  /* background-image: linear-gradient(#CCCCB2, #757519); */
}

ul {
  list-style-type: none;
}

body {
  /* font-family: Verdana, sans-serif; */
}

h2 {
    margin: 2%;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                               POST ELEMENTS (EX, TASK, FOOD)                                            */
/* ************************************************************************* */
/* ************************************************************************* */

/* EXERCISE POST ELEMENT */
#exerciseID {
  font-size: 250%;
  color: black;
  background-color: #C19A6B;
  /* background-image: linear-gradient(#3d72b4, #525252); */
  padding: 2%;
  text-align: center;
  /* float:left;
  width: 47%;
  margin-left: 1%; */
  border-radius: 20px;
  margin-bottom: 10%;
  border: 1px solid black;
  /* text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}

/* FOOD POST ELEMENT */
#foodId{
  text-align: center;
  font-size: 250%;
  /* float:left;
    width: 47%;
    margin-left: 1%; */
   color: black;
   background-color: #8e9eab;

   /* background-image: linear-gradient(#F1F2B5, #135058); */
   margin-bottom: 10%;

  /* margin-right: 55%;  */
  border-radius: 20px;
  border: 1px solid black;
  /* text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}

#taskId{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
   color: white;
   background-color: #800020;
margin-left: 20%;
margin-right: 20%;
margin-bottom: 10%;
   border-radius: 20px;
  border: 1px solid black;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}





/* ************************************************************************* */
/* ************************************************************************* */
/*                               FEEDS (EX FEED, TASK FEED, FOOD FEED)                                          */
/* ************************************************************************* */
/* ************************************************************************* */


/* GENERAL FEED */
#feed{
  margin-left: 0%;
  text-align: center;
}

/* TASK ELEMENTS DISPLAY FEED */
#taskFeed{
  /* float:left;
  width: 40%;
  margin: 5%; */
}
/* EXERCISE ELEMENTS DISPLAY FEED */
#exFeed {
  float:right;
  width: 40%;
  margin: 5%;
}
/* FOOD ELEMENTS DISPLAY FEED */
#foodFeed{
  float:left;
  width: 40%;
  margin: 5%;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                               CALENDAR STYLING                                            */
/* ************************************************************************* */
/* ************************************************************************* */

/* WEEKDAY ELEMENTS */
.weekdays {
  margin: 0;
  padding: 20px 20px;
  font-size: 25px;
  background-color:#ddd;
}
/* WEEKDAY LISTITEMS */
.weekdays li {
  display: inline-block;
  width: 13.2%;
  color: #666;
  text-align: center;
}

/* INNER DISPLAY OF CALENDAR DATES */
.days {
  padding: 10px;
  background: #eee;
  margin: 0%;
}

/* DAY LIST ITEM FIELDS ON CALENDAR */
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.5%;
  text-align: center;
  font-size:12px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #777;
}

/* Highlight the "current" day */
.days .active {
  background: black;
  color: white 
}

/* LIST ITEM HOVER (EACH DATE ON CALENDAR) */
li:hover{
  background-color: black;
  color: white;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: auto;
  background: #1abc9c;
  text-align: center;
}

/* CALENDER DIV */
#calendar {
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
}

/* STYLE THE MONTH TITLE DIV */
.month ul {
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

/* STYLE THE MONTH TITLE TEXT */
/* .month ul li, a{
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

/* ************************************************************************* */
/* ************************************************************************* */
/*                               ADD POST BUTTONS (CREATE FORMS)                                           */
/* ************************************************************************* */
/* ************************************************************************* */

/* ADD EXERCISE BUTTON */
#exButton {
    float: right;
    font-size: 50px;
    width: 40%;
    padding: 2%;
    margin-top: 5%;
    margin-right: 5%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
/* ADD FOOD BUTTON */
#foodButton {
  font-size: 50px;
  width: 40%;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  background-color: black;
  color: white;
  border-radius: 10px;
}
/* ADD TASK BUTTON */
#taskButton{
  font-size: 75px;
  padding: 2%;
  width: 50%;
  border-radius: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
/* TASK BUTTON FULL DIV - */
#taskButtonID{
  text-align: center;
  /* background-color: BLUE; */
}

/* SUBMIT/POST/DELETE BUTTONS */
#pButton1{
    width: 90%;
    height: 20%;
    margin-top: 5%;
    font-size: 75px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* INPUT FIELDS ON FORMS */
/* REQUIRED CLASS NAME STYLING */
.required{
  width: 85%;
  height: 10%;
  font-size: 50px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                               TEXT IDS & STYLING                                           */
/* ************************************************************************* */
/* ************************************************************************* */

/* USERNAME TITLE */
#usernameHeader{
  font-size: 75px;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
/* CURRENT DATE TITLE */
#todaysDate{
  text-align: center;
  font-size: 75px;
  color: gray;
}
/* EMPTY DATE TITLE */
#filler1{
  text-align: center;
}
/* FORM TITLE/TEXT ELEMENTS  */
.exClass1{
    font-size: 40px;
    align-items: center;
    padding: 5%;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                               PREV/NEXT MONTH BUTTONS                                            */
/* ************************************************************************* */
/* ************************************************************************* */


/* PREV MONTH BUTTON */
#prev { 
  float: left;
  padding-top: 10px;
  margin-left: 15%;
    font-size: 25px;
    padding: 1%;
    border-radius: 35px;
    position: absolute; left: 2%;
    background-color: white;
    border: 3px solid black;
}
/* NEXT MONTH BUTTON ID */
#next{
  float: right;
  padding-top: 10px;
  margin-right: 15%;
    font-size: 25px;
    padding: 1%;
    border-radius: 35px;
    position: absolute; right: 2%;
    background-color: white;
    border: 3px solid black;
}

/* PREV AND NEXT BUTTON HOVER */
.prev li:hover, .next li:hover{
  background-color: black;
  color: white;
}



/* ************************************************************************* */
/* ************************************************************************* */
/*                               TOP NAVIGATION MENU                                            */
/* ************************************************************************* */
/* ************************************************************************* */

#hamburger{
  position:absolute; 
  justify-content: left; 
  border-radius: 200px; 
  box-shadow: 3px 3px 6px 1px #505050;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #800020;
  position:relative;
  border-radius: 12px; 
  padding: 3%;
  border: 1px solid black;
  text-shadow: 0 .5px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  width: auto;
  right: 0%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 70px;
  display: block;
  text-align: center;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-image: black;
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  /* background: lightgray; */
  color: gray;
  width: auto;
  right: 0;
  padding-right: 3%;
  
}
.topnav .fa:hover {
  /* background: lightgray; */
  color: gray;
  width: auto;
  right: 0;
  padding-right: 5%;
  
}



/* sample test hover set for class name testtt */
.testtt:hover{
  /* color: gray;   */
  /* background-color: black; */
}