/* ************************************************************************* */
/* ************************************************************************* */
/*                               COMMON TAGS                                           */
/* ************************************************************************* */
/* ************************************************************************* */
html{
  background-color: #CCCCB2;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;

  /* background-image: linear-gradient(#CCCCB2, #757519); */
}

ul {
  list-style-type: none;
}

h2 {
    margin: 2%;
}



/* INPUT FIELDS ON FORMS */
/* REQUIRED CLASS NAME STYLING */
.required{
  width: 85%;
  height: 10%;
  font-size: 50px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                                FEED ELEMENT STYLING                                           */
/* ************************************************************************* */
/* ************************************************************************* */

/* EXERCISE POST ELEMENT */
#exerciseId {
  font-size: 250%;
  color: black;
  background-color: #FFAF42;
  
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10%;
  border: 1px solid black;
  display:block;
  margin: 10%;


  /* text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}

/* FOOD POST ELEMENT */
#foodId{
  text-align: center;
  font-size: 250%;
  color: black;
  background-color: #FE6E00;
  margin-bottom: 10%;
  border-radius: 20px;
  border: 1px solid black;
  display:block;
  margin: 10%;

  /* text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}

/* TASK POST ELEMENT */
#taskId{
  text-align: center;
  font-size: 250%;
  color: black;
  width: auto;
  position: relative;
  background-image: linear-gradient(#FFAF42, #FE6E00);
  margin-bottom: 10%;
  border-radius: 20px;
  border: 1px solid black;
  background-color: red;
  margin: 10%;
  display:block;
  /* text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}


/* ************************************************************************* */
/* ************************************************************************* */
/*                                FEED STYLING & TITLES                              */
/* ************************************************************************* */
/* ************************************************************************* */


/* GENERAL FEED */
#feed{
  text-align: center;
}
/* TASK FEED TITLE */
#taskFeedTitle{
  margin: 0;
  margin-bottom: 0%;
  text-align: center;
  margin-bottom: 2%;
  font-size: 75px;
}
/* TASK FEED TITLE */
#favFeedTitle{
  margin: 0;
  margin-bottom: 0%;
  text-align: center;
  margin-bottom: 2%;
  font-size: 75px;
}

/* EXERCISE FEED TITLE */
#exFeedTitle{
  float:right;
  width: 50%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
  font-size: 50px;
}
/* FOOD FEED TITLE */
#foodFeedTitle{
  float:left;
  width: 50%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
  font-size: 50px;
}
/* EXERCISE DISPLAY FEED */
#exFeed {
  float:left;
  width: 45%;
  height: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 4%;
  border: 10px solid black;
  overflow-y:auto;
  background-color: white;

}
/* FOOD DISPLAY FEED */
#foodFeed{
  float:left;
  width: 45%;
  height: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 1%;
  border: 10px solid black;
  overflow-y:auto;
  background-color: white;

}
/* TASK DISPLAY FEED */
#taskFeed{
  /* overflow: auto; */
  height: 50%;
  padding:50px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 10px solid black;
  overflow-y:auto;
  background-color: white;
   /* overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; */
}
/* TASK DISPLAY FEED */
#favFeed{
  /* overflow: auto; */
  height: 50%;
  padding:50px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 10px solid black;
  overflow-y:auto;
  background-color: white;
   /* overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; */
}
/* ************************************************************************* */
/* ************************************************************************* */
/*                                CALENDAR STYLING                                            */
/* ************************************************************************* */
/* ************************************************************************* */

/* WEEKDAY ELEMENTS */
.weekdays {
  margin: 0;
  padding: 20px 20px;
  font-size: 25px;
  background-color:#ddd;
}
/* WEEKDAY LISTITEMS */
.weekdays li {
  display: inline-block;
  width: 13.2%;
  color: #666;
  text-align: center;
}

/* INNER DISPLAY OF CALENDAR DATES */
.days {
  padding: 10px;
  background: #eee;
  margin: 0%;
}

/* DAY LIST ITEM FIELDS ON CALENDAR */
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.5%;
  text-align: center;
  font-size:12px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #777;
}

/* Highlight the "current" day */
.days .active {
  background: black;
  color: white 
}

/* LIST ITEM HOVER (EACH DATE ON CALENDAR) */
li:hover{
  background-color: black;
  color: white;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: auto;
  background: #1abc9c;
  text-align: center;
}

/* CALENDER DIV */
#calendar {
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
}

/* STYLE THE MONTH TITLE DIV */
.month ul {
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

/* STYLE THE MONTH TITLE TEXT */
/* .month ul li, a{
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

/* ************************************************************************* */
/* ************************************************************************* */
/*                                 BUTTONS STYLING                                           */
/* ************************************************************************* */
/* ************************************************************************* */


/* ADD EXERCISE BUTTON */
#foodButton {
  font-size: 30px;
  width: 33%;
  background-color: #FE6E00;
  font-family: fantasy;
  color: black;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 3%;
}
/* ADD FOOD BUTTON */
#exButton {
  font-size: 30px;
  margin-left: 1%;
  width: 33%;
  float: left;
  background-color: #FFAF42;
  color: black;
  border-radius: 10px;
  font-family: fantasy;
  margin-bottom: 10%;
  padding: 3%;
}
/* ADD TASK BUTTON */
#taskButton{
  font-size: 30px;
  width: 33%;
  float: right;
  background-image: linear-gradient(#FFAF42, #FE6E00);
  color: black;
  border-radius: 10px;
  margin-bottom: 10%;
  font-family: fantasy;
  padding: 3%;
}


/* SUBMIT/POST/DELETE BUTTONS */
#pButton1{
    width: 90%;
    height: 20%;
    margin-top: 5%;
    font-size: 75px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* CANCEL BUTTONS */
#cancelButton1{
  width: auto;
  height: auto;
  padding: 3%;
  text-align: unset;
  font-size: 40px;
  border-radius: 100px;
  background-color: gray;
  color: white;
  border: 1px solid black;
}

/* SIGNOUT BUTTONS */
#signOutButton1{
  width: auto;
  height: auto;
  padding: 3%;
  text-align: unset;
  font-size: 40px;
  border-radius: 100px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  margin-top: 10%;
}

/* PREV MONTH BUTTON */
#prev { 
  float: left;
  padding-top: 10px;
  margin-left: 15%;
    font-size: 25px;
    padding: 1%;
    border-radius: 35px;
    position: absolute; left: 2%;
    background-color: white;
    border: 3px solid black;
}
/* NEXT MONTH BUTTON ID */
#next{
  float: right;
  padding-top: 10px;
  margin-right: 15%;
    font-size: 25px;
    padding: 1%;
    border-radius: 35px;
    position: absolute; right: 2%;
    background-color: white;
    border: 3px solid black;
}

/* PREV AND NEXT BUTTON HOVER */
.prev li:hover, .next li:hover{
  background-color: black;
  color: white;
}

.favButton{
  width: auto;
  height: auto;
  padding: 3%;
  text-align: unset;
  font-size: 40px;
  border-radius: 100px;
  background-color: green;
  color: white;
  border: 1px solid black;
}


.favButtonAdd{
  width: 100%;
  height: auto;
  padding: 3%;
  text-align: unset;
  font-size: 40px;
  background-color: green;
  color: white;
  border: 1px solid black;
}
.favButtonEdit{
  width: 100%;
  height: auto;
  padding: 3%;
  text-align: unset;
  font-size: 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
}
/* ************************************************************************* */
/* ************************************************************************* */
/*                               TEXT IDS & STYLING                                           */
/* ************************************************************************* */
/* ************************************************************************* */

/* USERNAME TITLE */
#usernameHeader{
  font-size: 60px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
/* CURRENT DATE TITLE */
#todaysDate{
  text-align: center;
  font-size: 75px;
  color: black;
}
/* EMPTY DATE TITLE */
#filler1{
  text-align: center;
}
/* SIGNED OUT TITLE */
#signedOut{
  margin-top: 10%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 40px;
}
/* SIGNED OUT DESCRIPTION */
#signedOut1{
  text-align: center;
  font-weight: 200;
  margin-left: 10%;
  margin-right: 10%;
}
/* FORM TITLE/TEXT ELEMENTS  */
.exClass1{
    font-size: 40px;
    align-items: center;
    padding: 5%;
}
#currentDateDisplay{
  font-size: 75px;
  top: 5%;
  left: 5%;
  position: absolute;
}

/* ************************************************************************* */
/* ************************************************************************* */
/*                               TOP NAVIGATION MENU                                            */
/* ************************************************************************* */
/* ************************************************************************* */

/* STYLE TOP NAV DIV */
.topnav {
  display: none;
  overflow: hidden;
  background-color: #800020;
  position:relative;
  height: auto;
  border-radius: 12px; 
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  
}

/* STYLE HIDDEN LINK ELEMENTS */
.topnav a {
  width: auto;
  font-size: 40px;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  color: lightgray;
  padding: 14px 16px;
  display: block;
}

/* STYLE THE NAV BAR HEADER */
#navHeader{
  font-weight: 900;
padding: 14px 16px;
border-radius: 0px; 
text-decoration: none;
display: block;
text-align: center;
  text-align: center; 
  pointer-events: none; 
  font-family: fantasy ;
  font-size: 60px;
  padding: 50px;
  color: #bbbfd3;
  text-shadow: 0 .5px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* STYLE HAMBURGER 'ICON CLASS' */
.topnav li.icon {
  color: white;
  padding: 2%;
  border-radius: 0px; 
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: unset;
  display: block;
  position: absolute;
  font-size: 75px;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

/* HOVER FOR HIDDEN LINKS */
.topnav a:hover {
  color: gray;
  width: auto;
  right: 0;
  padding-right: 3%;
}

/* HOVER FOR HAMBURGER MENU */
.topnav li:hover {
  color: gray;
  width: auto;
  right: 0;
  padding-right: 5%;
}


/* ************************************************************************* */
/* ************************************************************************* */
/*                               IMAGES/ICONS                                            */
/* ************************************************************************* */
/* ************************************************************************* */


/* DIV FOR ACCOUNT ICON */
/* #accountDivID{
 top:0;
} */

/* ACCOUNT ICON IMG ELEMENT*/
#accountUsername{
  font-size: 75px;
  margin: 0;
  
  }

/* ACCOUNT ICON IMG ELEMENT*/
#accountIcon{
position: relative;
height: 150px;
width: 150px;
margin-bottom: 5%;
border-radius: 75px;

}

/* FAVORITES ICON IMG ELEMENT*/
#favoritesIcon{
  position: absolute;
  top: 50px;
  right: 50px;
  /* top: 135%; */
  height: 75px;
  width: 75px;
  border-radius: 75px;
  }


/* FAVORITES ICON IMG ELEMENT*/
#favLabel{
  font-size: 15px;
  margin-bottom: 5%;
  position: absolute;
  top: 130px;
  right: 30px;
  font-weight: 900;
  color: black;
  }

  /* LOGIN STYLE*/
#regLink{
  display:block;
  float: left;
  text-align: center;

  width: 50%;
  font-size: 50px;
  color: black;

  }

    /* REGISTER STYLE*/
#logLink{
  float: left;
  text-align: center;
  display:block;
  width: 50%;
  font-size: 50px;
  color: black;
  }

  #registerForm, #loginForm {
    /* background-image: linear-gradient(#b8c6db,#f5f7fa); */
    background-size: 100% auto;
    border-radius: 75px; 
    border: 5px solid black;
    background-color: lightgray; 
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: 600;
  }

  .required5 {
   margin: 0;
   width: 90%; 
   height: 100px; 
   font-size: 50px;
   border: 3px solid black;
   margin-top: 2%;
   color: black;
  }

  #sendRegister, #sendLogin{
    width: 50%;
    padding: 5%;
    font-size: 75px;
    border: 5px solid black;

  }

  #hidHomeButton{
    width: 40%;
    padding: 5%;
    font-size: 50px;
    border: 5px solid black;
    background-color: wheat;
    color: black;
    border-radius: 20px;
  }